# Created by .ignore support plugin (hsz.mobi)
/static
.idea
coverage.out
cover.out
cover.html
log.txt
/sessions/package/*/*
/*.txt
/*.outs
/env
coverage1.out
*.env
user_pgdata
main_pgdata
user/ssl/ca.crt
user/ssl/ca.key
user/ssl/server.crt
user/ssl/server.csr
user/ssl/server.key
user/ssl/server.pem
